<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939027034976-97ev7cptfnhedp3au5qsmmanesb7bmj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939027034976-97ev7cptfnhedp3au5qsmmanesb7bmj2</string>
	<key>API_KEY</key>
	<string>AIzaSyBbc23N8EwIG3AeMiyYmJt5eZxS44Ch5_U</string>
	<key>GCM_SENDER_ID</key>
	<string>939027034976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ifs-assignment</string>
	<key>PROJECT_ID</key>
	<string>ifsassignment-734ba</string>
	<key>STORAGE_BUCKET</key>
	<string>ifsassignment-734ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939027034976:ios:3f924db769d5421f782405</string>
</dict>
</plist>